.box{
    display: grid;
    grid-template-columns:  25% 25% 25% 25%;
    gap:3px;
}
img{
    width: 307px;
    height: 200px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.imgwidth img{
   width:100%;
   height:450px;
}
.imgwidth{
    display: none;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 10%;
    right: 10%;
    left:25% ;
    bottom:10%;
    z-index: 1;
}
.span{
    color: black;
    bottom: 15%;
    left: 92%;
    cursor: pointer;
    position: relative;
}